p {
    
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
  min-width: 200px;
  max-width: 800px;
  min-height: 200px;
  max-height: 300px;

}

/*The minimum and maximum height and width properties ensure that the content can still be read if the browser size changes. This particular element will not shrink below 200px wide or 200px tall. It will also not expand beyond 800px wide and 300px tall. */