main {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(3, 450px);
  grid-gap: 20px;
  margin-top: 44px;
  grid-auto-rows: 500px;
  justify-items: center; 
  justify-content: center;
  align-items: stretch;
  height: 1600px;
  align-content: center;
}

.a {
  align-self: end;
}

.c {
  	justify-self: start;
}




/* The "justify-self" and "align-self" properties specify how an element should position itself relative to the row and column axes respectively. These properties take priority over the "justify-item" and "align-item" properties when declared on a given item. On line 2 the element with class "a" is instructed to position itself to the bottom of it's container, which overrides the center positioning specified on line 8. On line 20 the element with class "c" is instructed to position itself to the left of it's container, which overrides the center positioning specified on line 8. */