h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}



/*Browsers default text alignment to the left. The text-align proprety takes three values: left, right, and center. On line 7 I aligned the text with the center of the page. */ 