.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template: 40% 50% 50px / 100px 50% 200px;

}



/*The "grid-template" property allows yout to manually set the row height and column width in one line of code. On line 6 above, the first three values specify the height of three rows and the values after the slash indicate the width of the three columns. */